.nav {
    margin: 0;
    display: flex;
    width: 100vw;
    background-color: #211f23;
    height: 5vh;
    align-items: center;
}

.nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    background-color: #211f23;
    color: white;
    width: 30vw;
    justify-content: space-around;
}

.nav li:hover {
    font-size: larger;
}

.nav a {
    text-decoration: none;
    color: white;
}

.home-content {
    height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-form {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

.home-form-field {
    display: flex;
    margin: 0 10px 10px 10px;
}

.home-form-field p {
    width: 35px;
    margin: 0 10px 0 0;
}

body {
    margin: 0;
    background-color: #fcfcfc;
}