<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="#">
  <link rel="stylesheet" href="{{url_for('static', filename='./layout.css')}}">
    {% if title %}
        <title>{{title}}</title>
    {% else %}
        
    {% endif %}
</head>

<body>
 <div class="nav">
    <ul>
      <li><a href="{{url_for('home')}}">Home</a></li>
      <li><a href=''>Plan</a></li>
      <li><a href=''>My Bookings</a></li>
      {% if not login %}
        <li><a href="{{url_for('register')}}">Sign up</a></li>
        <li><a href="{{url_for('login')}}">Log in</a></li>
      {% else %}
        <div>
          <p>Loged in as {{user[0]}}</p>
        </div>
      {% endif %}
    </ul>  
  </div>

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <ul class=flashes>
      {% for message in messages %}
        <li>{{ message }}</li>
     {% endfor %}
     </ul>
    {% endif %}
  {% endwith %}
  
  {% block content %}
      
  {% endblock content %}

</body>

</html>